<h1>Listing chats</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<div id = "chats">
  <%= render @chats %>
</div>

</table>


<%= render :file => 'chats/new' %>

<br />

<%= link_to 'Back', seats_path %>
